<form *ngIf="filterform" [formGroup]="filterform" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-4 ">
    <p-dropdown formControlName="categories" [options]="categories" placeholder="Select a Category"
        (onChange)="oncategorychange($event)"></p-dropdown>
    <p-dropdown formControlName="states" [options]="states" placeholder="Select a State"
        (onChange)="onstatechange($event)"></p-dropdown>
    <p-dropdown formControlName="cities" [options]="cities" placeholder="Select a City"
        (onChange)="oncitychange($event)"></p-dropdown>
    <div class="d-flex gap-3 justify-content-center align-items-center">
        <button class="Search-btn-nav" [disabled]="!filterform.valid" (click)="getDataAll()">Search</button>
        <button class="clear-btn-nav" (click)="clear()">Clear</button>
    </div>






</form>