.Category {
    background-color: black;
    color: white;
    height: 100vh;

    .container {
        .div-searchBar {
            .form-group {
                position: relative;

                input {
                    height: 53px;
                    width: 820px;
                    // padding: 0 90px;
                    box-shadow: 0px 0px 2px 0px #00000040;

                }

                .Search-btn {
                    background-color: black;
                    color: #ffff;
                    position: absolute;
                    right: 340px;
                    border-radius: 12px;
                    -webkit-border-radius: 12px;
                    -moz-border-radius: 12px;
                    -ms-border-radius: 12px;
                    -o-border-radius: 12px;
                    width: 111px;
                    height: 38px;
                }


            }
        }


    }

    .row {
        h2 {
            color: white !important;
        }

        .bg-word {
            background-color: rgba(217, 217, 217, 0.2);

            border: 1px white solid;
            width: 230px;
            height: 79px;
            border-radius: 17px;
            -webkit-border-radius: 17px;
            -moz-border-radius: 17px;
            -ms-border-radius: 17px;
            -o-border-radius: 17px;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

#myInput {
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 100%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
}