<section class="details py-5 mt-5" ngSkipHydration>
  <div class="container" *ngIf="datainfo">
    <div class="card-info py-4">
      <div class="row justify-content-between">
        <div class="col-8 rate-container">
          <div class="justify-content-between align-items-center d-flex gap-3">
            <div
              class="title d-flex align-items-center justify-content-start rate-flex-box"
            >
              <h3 class="d-inline mt-5">{{ datainfo.name }}</h3>
            </div>
            <div
              class="div-like d-flex gap-1 mt-5"
              (click)="likeBusiness(datainfo.id)"
              [class.liked]="datainfo.liked"
            >
              <i
                class="bx bxs-like fs-4"
                id="likeIcon"
                [style.color]="datainfo.liked ? 'black' : '#0069D9'"
              ></i>
              <p id="likeCount" class="m-0 likes">
                {{ datainfo.likes }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="row card-info-2 justify-content-between align-items-center gap-5"
      >
        <div class="col-md-4">
          <ul>
            <li>
              <div class="d-flex gap-1 py-1">
                <img
                  src="../../../assets/img/detalis-info/location.png"
                  width="30"
                  height="30"
                />
                <p
                  style="cursor: pointer; color: blue"
                  class="p-0 m-0"
                  (click)="handleMapClick(datainfo.geo_direction)"
                >
                  1036 Cambell St, Rapid City, South Dakota,57701
                </p>
              </div>
            </li>
            <li>
              <div class="d-flex gap-1 py-1">
                <img
                  src="../../../assets/img/detalis-info/earth.png"
                  alt=""
                  width="30"
                  height="30"
                />
                <p class="p-0 m-0" style="color: blue"></p>
                <p class="p-0 m-0" style="color: blue">
                  <a
                    href="mailto:{{ datainfo.email }}"
                    style="color: inherit; text-decoration: none"
                    >{{ datainfo.email }}</a
                  >
                </p>
              </div>
            </li>
            <li>
              <div class="d-flex gap-1 py-1">
                <img
                  src="../../../assets/img/detalis-info/telephone.png"
                  alt=""
                  width="30"
                  height="30"
                />
                <p
                  style="cursor: pointer; color: blue"
                  class="p-0 m-0"
                  (click)="
                    makePhoneCall(datainfo.phone_number);
                    $event.stopPropagation()
                  "
                >
                  {{ datainfo.phone_number }}
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-5">
          <div class="d-flex gap-3 align-items-center justify-content-center">
            <div
              class="d-flex gap-4"
              *ngIf="
                datainfo.booking_url !== null &&
                datainfo.booking_url.trim() !== ''
              "
            >
              <button class="book-btn">
                <a href="{{ datainfo.booking_url }}" target="_blank"
                  >Book Now</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center align-items-center d-flex">
      <p-galleria
        [value]="galleryphotos"
        [showItemNavigators]="true"
        [responsiveOptions]="responsiveOptions"
        [circular]="true"
        [numVisible]="5"
        [autoPlay]="true"
      >
        <ng-template pTemplate="item" let-item>
          <img
            [src]="item"
            class="img-fluid"
            style="max-height: 800px; max-width: 100%"
          />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center gap-2">
            <img
              [src]="item"
              class="img-thumbnail"
              style="max-height: 160px; max-width: 100%"
            />
          </div>
        </ng-template>
      </p-galleria>
    </div>

    <div class="Description">
      <h3 class="py-4">Description</h3>
      <p>{{ datainfo.description }}</p>
    </div>

    <section class="workHour py-3">
      <div class="container">
        <div
          class="row justify-content-between align-items-between d-flex flex-lg-row flex-column"
        >
          <div class="col-md-5">
            <h3 class="py-2">Working Hours:</h3>
            <div
              *ngFor="let day of datainfo.working_hours"
              class="d-flex gap-3"
            >
              <div>
                <p
                  class="div-days justify-content-center align-items-center d-flex"
                >
                  {{ day.day }}
                </p>
              </div>
              <div class="justify-content-center align-items-center d-flex">
                <p
                  class="div-time justify-content-center align-items-center d-flex"
                >
                  {{
                    day.open_24h
                      ? "Open All Day"
                      : formatTime(day?.start_time || "0") +
                        " - " +
                        formatTime(day?.end_time || "0")
                  }}
                </p>
              </div>
            </div>
            <h3 class="">Keywords</h3>

            <div class="flex-wrap d-flex gap-2">
              @for (item of datainfo.tags; track item.datainfo) {
              <p-chip label="{{ item }}" class=""></p-chip>
              } @empty {
              <p class="m-0 p-0">There is no Keywords for this bussiness</p>
              }
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h3 style="margin-left: 17px">Posting</h3>
    </section>
    <app-similar-work></app-similar-work>
  </div>
</section>
