.details {
  .card-info-2 {
    .col-md-4 {
      ul {
        padding: 0px !important;

        li {
          list-style: none;
          font-family: "Lato", sans-serif;
        }
      }
    }

    .col-md-5 {
      .d-flex {
        i {
          border: 1px #258a8b solid !important;
          height: 48px;
          width: 48px;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          justify-content: center;
          align-items: center;
          display: flex;
          color: #112211;
          font-weight: 600;
        }

        .call-btn {
          border: 1px #258a8b solid !important;
          height: 48px;
          width: 150px;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          justify-content: center;
          align-items: center;
          display: flex;
          background-color: transparent;
          color: #112211;
          font-weight: 600;
        }

        .book-btn {
          border: none;
          height: 48px;
          width: 150px;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          justify-content: center;
          align-items: center;
          display: flex;
          background-color: #8dd3bb;
          color: #112211;
          font-weight: 600;
        }
      }
    }
  }
}

a {
  text-decoration: none;
  color: black;
}

.p-galleria-item-prev-icon,
.p-galleria-item-next-icon {
  color: black !important;
}

.view-button {
  background-color: #8dd3bb;
  border: none;
  color: #112211;
  font-weight: 600;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 4px;
  position: absolute;
  top: 20px;
  right: 66px !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.div-time {
  background-color: #e5e7eb;
  width: 180px;
  height: 52px;
  border-radius: 5px;
}

.div-days {
  height: 52px;
  border-radius: 5px;
  width: 123px;
  background-color: #ffbf9d;
}

.btn-red {
  color: red !important;
  /* Optional: make text more readable */
  padding: 5px;
  border-radius: 4px;
  font-weight: 600;
}