span {
  color: #ffbf9d;
  font-weight: bold;
}

i {
  color: #ffbf9d;

}

.div-like {
  position: absolute;
  top: 203px;
  right: 16px;
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.likes {
  position: absolute;
  top: 294px;
  right: 28px;
}

.col-md-3 {
  position: relative;
}





.call-now {
  background-color: black;
  color: white !important;
  width: 190px !important;
  height: 47px !important;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.Directions {
  width: 190px !important;
  height: 47px !important;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  color: black;

}

img {
  height: 272px;
  width: 300px;
  background-color: black;
  border-radius: 7px !important;
  -webkit-border-radius: 7px !important;
  -moz-border-radius: 7px !important;
  -ms-border-radius: 7px !important;
  -o-border-radius: 7px !important;
}

.p-card .p-card-content {
  padding: 10px !important;
}

.p-card .p-card-body {
  padding: 0px !important;
}