<section>
   <div class=" d-flex mob">
      <div class="left hide-from-web">
         <h2 class="text-center py-4">Find the best Spa’s, <br> Salons and Restaurants <br> around you.</h2>
      </div>
      <div class="right">
         <div class="justify-content-center align-items-center d-flex">
            <img src="../../../assets/img/auth/bg.png" alt="" class="w-100">
         </div>
         <h2 class="py-4 text-center">Create a free account</h2>
         <form [formGroup]="regsiterForm" (ngSubmit)="RegsiterUser()">
            <div class="py-1 w-100">
               <p class="m-1 p-1">User Name :</p>
               <input pInputText id="email" class="form-control" placeholder="" formControlName="username" />
            </div>
            <div class="py-1 w-100">
               <p class="m-1 p-1">Email :</p>
               <input pInputText id="email" class="form-control" placeholder="" formControlName="email" />
            </div>
            <div class="py-1 w-100">
               <p class="m-1 p-1">Password :</p>
               <p-password [toggleMask]="true" class="form-control" formControlName="password"></p-password>
            </div>
            <div class="py-1 w-100">
               <p class="m-1 p-1">Confirm Password :</p>
               <p-password [toggleMask]="true" class="form-control" formControlName="confirmPassword"></p-password>
            </div>
            <div class="justify-content-center align-items-center d-flex py-3 w-100">
               <button class="send w-50" [disabled]="regsiterForm.invalid">Register</button>
            </div>

         </form>
         <p class="text-center pointer" routerLink="/login">Don’t have an account? <span class="sign">login</span></p>
      </div>
   </div>


</section>