<!-- <section class="slider py-5" ngSkipHydration>
    <div class="container" *ngIf="vippostarray">
      <h2 class="text-center py-3 h1">VIP buysell Posts</h2>
      <div>
        <p-progressSpinner class="justify-content-center align-items-center d-flex" *ngIf="loading"
          styleClass="w-2rem h-2rem" strokeWidth="3" fill="var(--surface-ground)"
          animationDuration=".5s"></p-progressSpinner>
        <p-carousel class="gap-5" [value]="vippostarray" [numVisible]="3" [numScroll]="3" [circular]="true"
          [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
          <ng-template let-product pTemplate="item" class="gap-5">
            <div class="row justify-content-center align-items-center gap-5">
              <div class="col-md-3" style="width: 95%;">
                <div>
                  <img *ngIf="product.images && product.images[0]" src="{{product.images[0]}}" alt=""
                    class="w-100 rounded-top rounded-2" routerLink="/postingdetails/{{ product.id }}">
                  <img *ngIf="!product.images || !product.images[0]" src="../../../assets/img/listing/missing (2).png"
                    alt="" class="w-100 rounded-top rounded-2">
                </div>
                <img src="../../../assets/img/posting/VIP TAG.png" alt="" class="corner-image">
  
                <div class="body bg-white rounded-bottom py-3">
                  <div class="title py-2">
                    <div class="d-flex justify-content-center align-items-center gap-5">
                      <div class="justify-content-center align-items-center d-flex">
                        <i class='bx bx-like fs-3' style='color:#DDAC17'></i>
                        <small>166</small>
                      </div>
                      <div>
                        <h5 class="gold text-center m-0">{{product.title}}</h5>
                        <div class="d-flex align-items-center">
                          <i class='bx bx-location-plus fs-3' undefined></i>
                          <p class="m-0 text-loction">{{ product.business.state + ", " +
                            product.business.street }}</p>
                        </div>
  
                      </div>
                      <div></div>
                    </div>
                  </div>
                  <div class="btns d-flex justify-content-center align-items-center gap-3 py-1">
                    <button class="date"><img src="../../../assets/img/posting/image 3.png" alt=""></button>
                    <button class="call" (click)="makePhoneCall(product.business.phone_number)">
                      <img src="../../../assets/img/posting/image 1.png" alt="Call">
                    </button>
                    <button class="location"><img src="../../../assets/img/posting/image 2.png" alt=""></button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </section> -->

<section class="posting mt-5 py-5">
  <div class=" box mb-4 mt-lg-0 mt-5">
    <div class="container">
      <div class="title mb-5 justify-content-between align-items-center d-flex">
        <div class="">
          <h3>Top businesses in your Area</h3>

        </div>
        <div class="form-group d-none d-lg-block">
          <div class="div-searchBar justify-content-center align-items-center d-flex ">
            <app-filter></app-filter>

          </div>
          <p-toast></p-toast>
          <p-confirmDialog></p-confirmDialog>
        </div>
      </div>
      <div class="view d-flex justify-content-between">
        <div class="suggest">
          <h6 class="m-0">Suggested Results:</h6>
        </div>
        <div class="views d-flex gap-3">
          <div (click)="showList()" class="box d-flex gap-2" [ngClass]="listView ? 'active' : null">
            <i class=" pi pi-list fs-4" style="color: black"></i>

            <p class="m-0 d-none d-lg-block">List View</p>
          </div>
          <div (click)="showGallery()" class="box d-flex gap-2" [ngClass]="galleyView ? 'active' : null">
            <i class="pi-th-large pi fs-4" style="color: black"></i>
            <p class="m-0 d-none d-lg-block">Gallery View</p>
          </div>
          <div (click)="showMap()" class="box d-flex gap-2" [ngClass]="mapView ? 'active' : null">
            <i class="pi pi-map
                      fs-4" style="color: black"></i>

            <p class="m-0 d-none d-lg-block">Map View</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    @if(listView){
    <div class="view-data">
      <app-bs-listview [BuySellArray]="buySellArray" [distances]="distances"></app-bs-listview>
    </div>
    } @if(galleyView){
    <div class="view-data">
      <app-bs-gellaryview [BuySellArray]="buySellArray" [distances]="distances"></app-bs-gellaryview>
    </div>
    } @if(mapView){
    <div class="view-data ">
      <app-bs-mapview [BuySellArray]="buySellArray" [distances]="distances"></app-bs-mapview>
    </div>
    }
    <div>
      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
        [totalRecords]="buySellArray!.length"></p-paginator>
    </div>
  </div>

</section>