<div *ngIf="BuySellArray" class="web-view">
    <p-table [value]="BuySellArray" sortField="id" sortMode="single" [scrollable]="true" rowGroupMode="subheader"
        groupRowsBy="buySellTime">
        <ng-template pTemplate="groupheader" let-row let-rowIndex="rowIndex">
            <tr class="p-rowgroup-header">
                <td colspan="5">
                    <h6 class="ms-5 ps-5">{{ row.buySellTime }}</h6>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
            <div *ngIf="BuySellArray"
                class=" data d-flex gap-2 justify-content-center align-items-center py-3 row px-4">
                <div class="card my-0 py-0 px-0" style="max-width: 1200px;">
                    <div class="row g-0">
                        <div class="col-3" style="width: 27%;">
                            <img src="{{customer.images[0]}}" class="rounded-start" alt="..." height="100%" width="310"
                                routerLink="/BuySelldetails/{{ customer.id }}" />
                        </div>
                        <div class="col-9" style="width:70%">
                            <div class="card-body card-body d-flex flex-column align-items-between justify-content-between px-2 py-0"
                                style="height: 100%">
                                <div class="d-flex gap-1 justify-content-between align-items-center">
                                    <div class="">
                                        <h5 class="title-name">{{customer.title}}</h5>

                                    </div>

                                </div>
                                <div class="d-flex gap-1 justify-content-start align-items-center">
                                    <i class='bx bx-world fs-6' style='color:#6b6666'></i>
                                    <p class="title-time text-muted m-0">{{customer.buySellTime}}</p>
                                </div>

                                <div class="d-none d-lg-block">
                                    <small class="description"
                                        [ngStyle]="{ 'font-weight': customer?.bold ? 'bold' : 'normal', 'font-style': customer?.italic ? 'italic' : 'normal' }">
                                        <span *ngIf="showFullText; else truncatedContent">
                                            <div [innerHTML]="customer?.content | sanatizer"></div>
                                        </span>
                                        <ng-template #truncatedContent>
                                            <div
                                                [innerHTML]="(customer?.content ? customer?.content.slice(0, maxDescriptionLength) : '') | sanatizer">
                                            </div>
                                        </ng-template>
                                        <span
                                            *ngIf="customer?.content && customer?.content.length > maxDescriptionLength"
                                            (click)="showFullText = !showFullText">
                                            {{ showFullText ? 'Less' : '...' }}
                                        </span>
                                    </small>
                                </div>
                                <div class="d-lg-none d-block">
                                    <small class="description"
                                        [ngStyle]="{ 'font-weight': customer?.bold ? 'bold' : 'normal', 'font-style': customer?.italic ? 'italic' : 'normal' }">
                                        <span *ngIf="showFullText; else truncatedContent">
                                            <div [innerHTML]="customer?.content | sanatizer"></div>
                                        </span>
                                        <ng-template #truncatedContent>
                                            <div
                                                [innerHTML]="(customer?.content ? customer?.content.slice(0, maxDescriptionLength) : '') | sanatizer">
                                            </div>
                                        </ng-template>
                                        <span
                                            *ngIf="customer?.content && customer?.content.length > maxDescriptionLength"
                                            (click)="showFullText = !showFullText">
                                            {{ showFullText ? 'Less' : '...' }}
                                        </span>
                                    </small>
                                </div>
                                <div *ngIf="distances && distances.length > 0" class="py-1">
                                    <div class="d-flex justify-content-start align-items-start gap-1">
                                        <i class="pi pi-directions fs-4"></i>
                                        <p class="p-0 m-0"> Distance: {{ distances[rowIndex] | number:'1.0-0' }} <span
                                                class="miles">Miles</span></p>
                                    </div>
                                </div>
                                <div class="btns justify-content-between align-items-end d-flex gap-1 py-2">
                                    <div class="btns d-flex gap-2">
                                        <button class="call-now"
                                            (click)="makePhoneCall(customer.phone_number)">Call</button>
                                        <button class="Directions"
                                            (click)="handleMapClick(customer.geo_direction)">Directions</button>
                                    </div>
                                    <!-- <div class="d-flex justify-content-center align-items-center gap-1"
                                        (click)="likeBusiness(customer.business_id, rowIndex)"
                                        [class.liked]="BuySellArray[rowIndex].liked">
                                        <i class="bx bxs-like fs-4" id="likeIcon"
                                            [style.color]="BuySellArray[rowIndex].liked? 'black' : '#0069D9'"></i>
                                        <p id="likeCount" class="m-0">{{BuySellArray[rowIndex].business.likes}}</p>
                                    </div> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-table>
</div>
<div *ngIf="BuySellArray" class="mobileb-view">
    <p-table [value]="BuySellArray" sortField="id" sortMode="single" [scrollable]="true" rowGroupMode="subheader"
        groupRowsBy="buySellTime">
        <ng-template pTemplate="groupheader" let-row let-rowIndex="rowIndex">
            <tr class="p-rowgroup-header">
                <td colspan="5" style="padding: 0px;">
                    <h6 class="" style="padding:  0px 1rem;">{{ row.buySellTime }}</h6>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" class="py-3">
            <div *ngIf="BuySellArray"
                class=" data d-flex gap-2 justify-content-center align-items-center py-3 row px-4">
                <div class="card my-0 py-0 px-0" style="max-width: 1200px;">
                    <div class="row g-0">
                        <div class="col-3" style="width: 44%;">
                            <img src="{{customer.images[0]}}" class="rounded-start w-100" alt="..." height="100%"
                                routerLink="/BuySelldetails/{{ customer.id }}" />
                        </div>
                        <div class="col-9" style="width:56%">
                            <div class="card-body card-body d-flex flex-column align-items-between justify-content-between px-2 py-0"
                                style="height: 100%">
                                <div class="d-flex gap-1 justify-content-between align-items-center">
                                    <div class="">
                                        <h5 class="title-name" style="font-size: 14px;">{{customer.title}}</h5>

                                    </div>

                                </div>
                                <div class="d-flex gap-1 justify-content-start align-items-center">
                                    <i class='bx bx-world fs-6' style='color:#6b6666'></i>
                                    <p class="title-time text-muted m-0">{{customer.buySellTime}}</p>
                                </div>

                                <div class="">
                                    <small class="description"
                                        [ngStyle]="{ 'font-weight': customer?.bold ? 'bold' : 'normal', 'font-style': customer?.italic ? 'italic' : 'normal' }">
                                        {{ showFullText ? customer?.content : (customer?.content ?
                                        customer?.content.slice(0, maxDescriptionLength) : '') | sanatizer }}
                                        <span
                                            *ngIf="customer?.content && customer?.content.length > maxDescriptionLength"
                                            (click)="showFullText = !showFullText">
                                            {{ showFullText ? 'Less' : '...' }}
                                        </span>
                                    </small>
                                </div>
                                <div *ngIf="distances && distances.length > 0" class="py-1">
                                    <div class="d-flex justify-content-start align-items-start gap-1"
                                        style="font-size: 13px;">
                                        <i class="pi pi-directions fs-6"></i>
                                        <p class="p-0 m-0"> Distance: {{ distances[rowIndex] | number:'1.0-0' }} <span
                                                class="miles">Miles</span></p>
                                    </div>
                                </div>
                                <div class="btns justify-content-between align-items-end d-flex gap-1 py-2">
                                    <div class="btns d-flex gap-1">
                                        <button class="call-now"
                                            (click)="makePhoneCall(customer.phone_number)">Call</button>
                                        <button class="Directions"
                                            (click)="handleMapClick(customer.business.geo_direction)">Directions</button>
                                    </div>
                                    <!-- <div class="d-flex justify-content-center align-items-center gap-1"
                                        (click)="likeBusiness(customer.business_id, rowIndex)"
                                        [class.liked]="BuySellArray[rowIndex].liked">
                                        <i class="bx bxs-like fs-4" id="likeIcon"
                                            [style.color]="BuySellArray[rowIndex].liked? 'black' : '#0069D9'"></i>
                                        <p id="likeCount" class="m-0">{{BuySellArray[rowIndex].business.likes}}</p>
                                    </div> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-table>
</div>