.mobileb-view {
    display: none;
}


#likeIcon,
img {
    cursor: pointer;

}

.web-view {
    display: block;
}

.miles {
    color: #258a8b;
    font-weight: bold;
}

.pi-directions {
    color: #258a8b;

}

@media (max-width: 767px) {
    .mobileb-view {
        display: block;
    }

    .web-view {
        display: none;
    }

    .call-now {
        width: 45px;
    }

    .Directions {
        width: 73px;
        font-size: 10px;
    }

}