.mobileb-view {
    display: none;
}


#likeIcon,
img {
    cursor: pointer;

}

.web-view {
    display: block;
}

.miles {
    color: #258a8b;
    font-weight: bold;
}

.pi-directions {
    color: #258a8b;

}


@media (max-width: 767px) {
    .mobileb-view {
        display: block;
    }

    .web-view {
        display: none;
    }

    .call-now {
        border: none;
        outline: none;
        width: 125px !important;
        height: 25px !important;
        ;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        font-size: 10px;
        color: black !important;


    }

    .Directions {
        background-color: #ffbf9d;
        border: none;
        outline: none;
        width: 125px !important;
        height: 25px !important;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        color: black !important;
        font-size: 10px;
    }

    .miles,
    .Distance {
        font-size: 13px;
    }



}