<div class="container">
  <div class="row gap-1 justify-content-center align-items-center d-flex">
    <div class="col-md-5 border" *ngFor="let item of BuySellArray">
      <div>
        <div
          class="d-flex gap-5 justify-content-between align-items-center d-flex py-2"
        >
          <p class="fw-bolder">
            {{
              item.business.city1 +
                "," +
                " " +
                item.business.state +
                " " +
                (item.business.city_zip ? " " + item.business.city_zip : "")
            }}
          </p>
          <p class="fw-bolder">${{ item.price }}</p>
        </div>
        <div>
          <p-galleria
            [value]="item.images"
            [showItemNavigators]="true"
            [responsiveOptions]="responsiveOptions"
            [circular]="true"
          >
            <ng-template pTemplate="item" let-image>
              <img
                routerLink="/BuySelldetails/{{ item.id }}"
                [src]="image"
                class="w-100"
                style="height: 300px; object-fit: cover"
                alt="Image"
                (error)="onImageError($event)"
              />
            </ng-template>
          </p-galleria>
        </div>
        <div>
          <div
            class="d-flex justify-content-between align-items-center d-flex py-3"
          >
            <p class="fw-bold">{{ item.business.name }}</p>

            <div
              class="d-flex border justify-content-center align-items-center gap-0 px-2"
            >
              <i class="pi pi-envelope m-1 fs-6" style="color: black"></i>

              <button class="btn-contact" style="color: #259193">
                Contact
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <small>Cash Flow : $55,550</small>
          </div>
          <div class="d-flex gap-3 py-2">
            <p [innerHTML]="truncateText(item?.content, text)"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
