.rania {
  // padding: 0 10px !important;

  .card {
    // justify-content: center;
    // align-items: center;
    // display: flex;

    .row {
      .col-5 {
        img {
          height: 100%;
          cursor: pointer;
        }
      }

      .col-7 {
        .card-body {
          .d-flex {
            h5 {
              font-family: "Lato", sans-serif;
              font-size: 16px;
              line-height: 33px;
              font-weight: 900 !important;
              white-space: nowrap;
            }

            span {
              color: #ff8682;
              width: 107px;
              height: 59px;
              font-weight: 700;
              font-size: 17px;
              padding: 0;
              font-family: "Lato", sans-serif;
              gap: 0 !important;
            }

            small {
              font-family: "Lato", sans-serif;
            }
          }



          // .btn {
          //   button {
          //     height: 44px;
          //     border-radius: 10px;
          //     width: 86px;
          //     background-color: #8dd3bb;
          //     outline: none;
          //     border: none;
          //   }
          // }

          .btns {
            .call-now {
              background-color: #aefcc9;
              width: 170px;
              height: 30px;
              border: none;
              outline: none;
              border-radius: 4px;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              -ms-border-radius: 4px;
              -o-border-radius: 4px;
            }

            .Directions {
              background-color: #ffbf9d;
              width: 170px;
              height: 30px;
              border: none;
              outline: none;
              border-radius: 4px;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              -ms-border-radius: 4px;
              -o-border-radius: 4px;

            }
          }
        }
      }
    }
  }
}

#likeIcon {
  color: black;
  /* Initial color */
  cursor: pointer;
}

/* Add your styles for the liked state */
#likeContainer.liked #likeIcon {
  color: rgb(144, 144, 230);
  /* Change color when liked */
}





@media (max-width: 767px) {

  /* Adjust the breakpoint to your needs */
  .mobile-font-size {
    font-size: 15px !important;
    /* Important to override existing styles */
  }

  .distance {
    font-size: 12px !important;
  }


  .btns {
    .call-now {
      width: 120px !important;
      height: 22px !important;
      font-size: 14px !important;
      color: black !important;

    }

    .Directions {
      width: 120px !important;
      height: 22px !important;
      font-size: 14px !important;
      margin-bottom: 10px;
      color: black !important;



    }
  }

  .web-v {
    display: none !important;
  }

  .mobile-v {
    display: block !important;
  }
}

.web-v {
  display: block;
}

.mobile-v {
  display: none;
}