<div class="similars">
  <div class="row">
    <div
      class="card d-flex flex-row p-0 my-4"
      routerLink="/postingdetails/{{ item.id }}"
      *ngFor="let item of data"
    >
      <img [src]="item.business.logo" alt="" />
      <div class="content py-1 me-1">
        <h2 class="fw-bold fs-5 px-3 m-0">
          {{ item.title | truncateText : 15 | sanatizer }}
        </h2>
        <h6 class="text-black-50 fw-normal px-3">{{ item.postTime }}</h6>

        <p
          class="m-0"
          [innerHTML]="item.content | truncateText : 30 | sanatizer"
        ></p>
        <div
          class="btns justify-content-between align-items-end d-flex gap-1 py-2"
        >
          <div class="btns d-flex gap-2">
            <button
              class="call-now"
              (click)="makePhoneCall(item.business.phone_number)"
            >
              Call
            </button>
            <button
              class="Directions"
              (click)="handleMapClick(item.business.geo_direction)"
            >
              Directions
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
