<div class="container">
  <div class="row gap-1 justify-content-start align-items-start">
    @for (item of data; track item.data) {

    <div
      class="border d-flex py-2 px-2"
      routerLink="/postingdetails/{{ item.id }}"
    >
      <div class="col-md-5 col-lg-2">
        <img
          src="{{ item.business.logo }}"
          style="object-fit: cover; width: 150px; height: 150px"
        />
      </div>
      <div class="col-md-5 col-lg-10">
        <p class="m-0 p-0">{{ item.title | truncateText : 20 }}</p>
        <small
          class="m-0"
          [innerHTML]="item.content | truncateText : 20 | sanatizer"
        ></small>

        <div class="btns d-flex flex-column gap-2">
          <button
            class="call-now"
            (click)="
              makePhoneCall(item.business.phone_number);
              $event.stopPropagation()
            "
          >
            Call
          </button>
          <button
            class="Directions"
            (click)="
              handleMapClick(item.business.street, item.business.state);
              $event.stopPropagation()
            "
          >
            Directions
          </button>
        </div>
      </div>
    </div>
    } @empty {
    <p class="ms-3 p-0">There is no Posting for this bussiness</p>
    }
  </div>
</div>
