<section class="Explore d-none d-lg-block py-3">
  <div class="container py-2">
    <h4 class="text-center py-2 text-white">
      Find the best Spa’s, Salons and Restaurants around you..
    </h4>
    <div class="three-box py-3">
      <div class="row align-items-center justify-content-center d-flex gap-5">
        <div class="col-md-3 col-6 top">
          <img
            src="../../../assets/img/home/Rectangle 88.png"
            alt=""
            class="w-100 py-2"
            routerLink="/state"
            (click)="getStates('RESTAURANTS')"
          />
          <div class="align-items-center justify-content-center d-flex bg py-3">
            <p
              class="pt-3 text-center text-white"
              routerLink="/state"
              (click)="getStates('RESTAURANTS')"
            >
              Restaurants
            </p>
          </div>
        </div>
        <div class="col-md-3 col-6 top" routerLink="/state">
          <img
            src="../../../assets/img/home/Rectangle 7.png"
            alt=""
            class="w-100 py-2"
            routerLink="/state"
            (click)="getStates('MASSAGE SPA')"
          />
          <div class="align-items-center justify-content-center d-flex bg">
            <p
              class="pt-3 text-center text-white"
              routerLink="/state"
              (click)="getStates('MASSAGE SPA')"
            >
              Massage
            </p>
          </div>
        </div>
        <div class="col-md-3 col-6 three top">
          <img
            src="../../../assets/img/home/Rectangle 87.png"
            alt=""
            class="w-100 py-2"
            routerLink="/state"
            (click)="getStates('BEAUTY SALON SPA')"
          />
          <div class="align-items-center justify-content-center d-flex bg py-3">
            <p
              class="pt-3 text-center text-white"
              routerLink="/state"
              (click)="getStates('BEAUTY SALON SPA')"
            >
              Spa & Salons
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="d-block d-lg-none" style="padding-top: 10rem">
  <div
    class="container justify-content-center align-items-center flex-column d-flex gap-4 py-3"
  >
    <h3>Explore to find your Favorite Spot.</h3>
    <button routerLink="/Category" class="btn-category text-center">
      Choose Your State and City
    </button>
  </div>
</section>
<section class="cards py-2">
  <div class="container">
    <div class="Restaurant py-4">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="py-3">Top Restaurant Listings</h4>
        <a href="" routerLink="/listing">View All</a>
      </div>
      <div
        class="row align-items-start justify-content-center gx-0"
        style="gap: 1rem"
      >
        <div
          *ngIf="RESTAURANTSarray"
          class="rania d-flex gap-4 justify-content-start align-items-center py-3 row"
        >
          <div
            *ngFor="
              let item of RESTAURANTSarray.slice(first, first + rows);
              let i = index;
              trackBy: trackByFn
            "
            class="card my-0 py-0 px-0"
            style="max-width: 500px"
          >
            <div class="row g-0">
              <div
                class="col-7 justify-content-center align-items-center d-flex"
              >
                <img
                  src="{{ item.logo }}"
                  class="imgg rounded-start"
                  routerLink="/details/{{ item.id }}"
                  style="height: 190px; width: 275px; object-fit: contain"
                />
              </div>
              <div class="col-5">
                <div
                  class="card-body d-flex flex-column align-items-between justify-content-between px-0 py-0"
                  style="height: 100%"
                >
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div
                      class="d-flex justify-content-between align-items-center gap-3"
                    >
                      <div>
                        <h5 class="me-lg-5 m-0 p-0 mobile-font-size">
                          {{ item.name | truncateText : 15 }}
                        </h5>
                      </div>
                    </div>
                    <div></div>
                  </div>
                  <div
                    class="d-flex justify-content-start align-items-center gap-1"
                  >
                    <small style="color: #101010; font-size: 16px">
                      {{ item.street | truncateText : 17 }}</small
                    >
                  </div>

                  <small class="" style="color: #101010; font-size: 16px">
                    {{
                      item.city1 +
                        "," +
                        " " +
                        item.state +
                        " " +
                        (item.city_zip ? " " + item.city_zip : "")
                    }}
                  </small>
                  <div
                    class="d-flex justify-content-start align-items-center gap-1"
                  >
                    <i style="font-size: 14px" class="pi pi-directions"></i>
                    <p class="m-0 distance" style="font-size: 14px">
                      {{
                        calculateDistance(
                          item.geo_direction.lat,
                          item.geo_direction.lng
                        )
                      }}
                      <span>Miles</span>
                    </p>
                  </div>
                  <div
                    class="btns justify-content-between align-items-center d-flex gap-1"
                  >
                    <!-- <div
                      class="d-flex justify-content-center align-items-center gap-1"
                      (click)="likeBusiness2(item.id, i)"
                      [class.liked]="MASSAGEarray[i].liked"
                    >
                      <i
                        class="bx bxs-like fs-4"
                        id="likeIcon"
                        [style.color]="
                          MASSAGEarray[i].liked ? 'black' : '#0069D9'
                        "
                      ></i>
                      <p id="likeCount" class="m-0">
                        {{ MASSAGEarray[i].likes }}
                      </p>
                    </div> -->
                    <div class="btns d-flex flex-column gap-2 py-1">
                      <button
                        class="call-now"
                        (click)="makePhoneCall(item.phone_number)"
                      >
                        Call
                      </button>
                      <button
                        class="Directions"
                        (click)="handleMapClick(item.street, item.state)"
                      >
                        Directions
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Salon py-4">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="py-3">Top Spa’s Listings</h4>

        <a href="" routerLink="/listing">View All</a>
      </div>

      <div
        class="row align-items-start justify-content-center gx-0"
        style="gap: 1rem"
      >
        <div
          *ngIf="MASSAGEarray"
          class="rania d-flex gap-4 justify-content-start align-items-center py-3 row"
        >
          <div
            *ngFor="
              let item of MASSAGEarray.slice(first, first + rows);
              let i = index;
              trackBy: trackByFn
            "
            class="card my-0 py-0 px-0"
            style="max-width: 500px"
          >
            <div class="row g-0">
              <div
                class="col-7 justify-content-center align-items-center d-flex"
              >
                <img
                  src="{{ item.logo }}"
                  class="imgg rounded-start"
                  routerLink="/details/{{ item.id }}"
                  style="height: 190px; width: 275px; object-fit: contain"
                />
              </div>
              <div class="col-5">
                <div
                  class="card-body d-flex flex-column align-items-between justify-content-between px-0 py-0"
                  style="height: 100%"
                >
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div
                      class="d-flex justify-content-between align-items-center gap-3"
                    >
                      <div>
                        <h5 class="me-lg-5 m-0 p-0 mobile-font-size">
                          {{ item.name | truncateText : 15 }}
                        </h5>
                      </div>
                    </div>
                    <div></div>
                  </div>
                  <div
                    class="d-flex justify-content-start align-items-center gap-1"
                  >
                    <small style="color: #101010; font-size: 16px">
                      {{ item.street | truncateText : 15 }}</small
                    >
                  </div>

                  <small style="color: #101010; font-size: 16px">
                    {{
                      item.city1 +
                        "," +
                        " " +
                        item.state +
                        " " +
                        (item.city_zip ? " " + item.city_zip : "")
                    }}
                  </small>
                  <div
                    class="d-flex justify-content-start align-items-center gap-1"
                  >
                    <i style="font-size: 14px" class="pi pi-directions"></i>
                    <p class="m-0 distance" style="font-size: 14px">
                      {{
                        calculateDistance(
                          item.geo_direction.lat,
                          item.geo_direction.lng
                        )
                      }}
                      <span>Miles</span>
                    </p>
                  </div>
                  <div
                    class="btns justify-content-between align-items-center d-flex gap-1"
                  >
                    <!-- <div
                      class="d-flex justify-content-center align-items-center gap-1"
                      (click)="likeBusiness2(item.id, i)"
                      [class.liked]="MASSAGEarray[i].liked"
                    >
                      <i
                        class="bx bxs-like fs-4"
                        id="likeIcon"
                        [style.color]="
                          MASSAGEarray[i].liked ? 'black' : '#0069D9'
                        "
                      ></i>
                      <p id="likeCount" class="m-0">
                        {{ MASSAGEarray[i].likes }}
                      </p>
                    </div> -->
                    <div class="btns d-flex flex-column gap-2 py-1">
                      <button
                        class="call-now"
                        (click)="makePhoneCall(item.phone_number)"
                      >
                        Call
                      </button>
                      <button
                        class="Directions"
                        (click)="handleMapClick(item.street, item.state)"
                      >
                        Directions
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Spa py-4">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="py-3">Top Salon’s Listings</h4>

        <a href="" routerLink="/listing">View All</a>
      </div>
      <div
        class="row align-items-start justify-content-center gx-0"
        style="gap: 1rem"
      >
        <div
          class="row align-items-start justify-content-center gx-0"
          style="gap: 1rem"
        >
          <div
            *ngIf="spa"
            class="rania d-flex gap-4 justify-content-start align-items-center py-3 row"
          >
            <div
              *ngFor="
                let item of spa.slice(first, first + rows);
                let i = index;
                trackBy: trackByFn
              "
              class="card my-0 py-0 px-0"
              style="max-width: 550px"
            >
              <div class="row g-0">
                <div
                  class="col-7 justify-content-center align-items-center d-flex"
                >
                  <img
                    src="{{ item.logo }}"
                    class="imgg rounded-start"
                    routerLink="/details/{{ item.id }}"
                    style="height: 190px; width: 275px; object-fit: contain"
                  />
                </div>
                <div class="col-5">
                  <div
                    class="card-body d-flex flex-column align-items-between justify-content-between px-0 py-0"
                    style="height: 100%"
                  >
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <div
                        class="d-flex justify-content-between align-items-center gap-3"
                      >
                        <div>
                          <h5 class="me-lg-5 m-0 p-0 mobile-font-size">
                            {{ item.name | truncateText : 15 }}
                          </h5>
                        </div>
                      </div>
                      <div></div>
                    </div>
                    <div
                      class="d-flex justify-content-start align-items-center gap-1"
                    >
                      <small style="color: #101010; font-size: 16px">
                        {{ item.street | truncateText : 17 }}</small
                      >
                    </div>

                    <small style="color: #101010; font-size: 16px">
                      {{
                        item.city1 +
                          "," +
                          " " +
                          item.state +
                          " " +
                          (item.city_zip ? " " + item.city_zip : "")
                      }}
                    </small>
                    <div
                      class="d-flex justify-content-start align-items-center gap-1"
                    >
                      <i style="font-size: 14px" class="pi pi-directions"></i>
                      <p class="m-0 distance" style="font-size: 14px">
                        {{
                          calculateDistance(
                            item.geo_direction.lat,
                            item.geo_direction.lng
                          )
                        }}
                        <span>Miles</span>
                      </p>
                    </div>
                    <div
                      class="btns justify-content-between align-items-center d-flex gap-1"
                    >
                      <!-- <div
                      class="d-flex justify-content-center align-items-center gap-1"
                      (click)="likeBusiness2(item.id, i)"
                      [class.liked]="MASSAGEarray[i].liked"
                    >
                      <i
                        class="bx bxs-like fs-4"
                        id="likeIcon"
                        [style.color]="
                          MASSAGEarray[i].liked ? 'black' : '#0069D9'
                        "
                      ></i>
                      <p id="likeCount" class="m-0">
                        {{ MASSAGEarray[i].likes }}
                      </p>
                    </div> -->
                      <div class="btns d-flex flex-column gap-2 py-1">
                        <button
                          class="call-now"
                          (click)="makePhoneCall(item.phone_number)"
                        >
                          Call
                        </button>
                        <button
                          class="Directions"
                          (click)="handleMapClick(item.street, item.state)"
                        >
                          Directions
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
