/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap');
@import "primeicons/primeicons.css";
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';


body {
    font-family: 'Sarabun', sans-serif;
}

li a {
    cursor: pointer;
}

.btns {
    .call-now {
        background-color: black;
        width: 170px;
        color: white;
        height: 30px;
        border: none;
        outline: none;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }

    .Directions {
        background-color: transparent;
        width: 170px;
        border: 2px solid black !important;
        color: black;
        height: 30px;
        border: none;
        outline: none;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;

    }

    i {
        cursor: pointer;
    }

}

.p-galleria-item-wrapper {
    background-color: black !important;
}

.p-paginator-last,
.p-paginator-first {
    display: none;
}



.p-paginator {
    padding: 0px;
}

.p-datatable>.p-datatable-wrapper {
    overflow: hidden !important;
}

.call-now {
    background-color: black;
    width: 170px;
    color: white !important;
    border: none;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.Directions {
    background-color: transparent;
    width: 170px;
    border: 2px solid black !important;
    color: black !important;
    border: none;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-align: center !important;


}