<div class="container">
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="postingArray.length"
  ></p-paginator>
  <div class="row py-2">
    <div
      class="col-md-3 col-12 mb-3"
      *ngFor="
        let item of postingArray.slice(first, first + rows);
        let i = index
      "
    >
      <p-card
        [style]="{ width: '100%' }"
        routerLink="/postingdetails/{{ item.id }}"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            class="w-100"
            src="{{ item.images[0] }}"
            routerLink="/postingdetails/{{ item.id }}"
          />
        </ng-template>
        <div class="card-body">
          <div class="title py-2 text-center">
            <h5>{{ item.business.name }}</h5>
          </div>
          <div class="py-2">
            <div class="d-flex justify-content-center align-items-center gap-1">
              <i class="pi pi-directions fs-4"></i>
              <p class="m-0 distance text-center">
                Distance:
                {{
                  calculateDistance(
                    item.business.geo_direction.lat,
                    item.business.geo_direction.lng
                  )
                }}
                <span>Miles</span>
              </p>
            </div>
          </div>
          <div>
            <p class="text-muted text-center">
              {{ truncateText(item.content, 30) }}
            </p>
          </div>
          <div
            class="btns justify-content-center align-items-center d-flex gap-3 py-3"
          >
            <button class="call-now" (click)="makePhoneCall(item.phone_number)">
              Call Now
            </button>
            <button
              class="Directions"
              (click)="handleMapClick(item.business.geo_direction)"
            >
              Directions
            </button>
          </div>
        </div>
      </p-card>
    </div>
  </div>
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="postingArray.length"
  ></p-paginator>
</div>
