span {
    color: #258a8b;
    font-weight: bold;
}

i {
    color: #258a8b;

}

.div-like {
    position: absolute;
    top: 203px;
    right: 16px;
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.likes {
    position: absolute;
    top: 258px;
    right: 34px;
}

.col-md-3 {
    position: relative;
}




.call-now {
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.Directions {
    background-color: #ffbf9d;
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: black;

}

img {
    height: 228px;
    width: 300px;
    background-color: black;
    object-fit: cover;
    border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    -ms-border-radius: 7px !important;
    -o-border-radius: 7px !important;
}