.miles {
    color: #258a8b;
    font-weight: bold;
}

.pi-directions {
    color: #258a8b;

}

.mobileb-view {
    display: none;
}

.web-view {
    display: block;
}

@media (max-width: 767px) {
    .mobileb-view {
        display: block;
    }

    .web-view {
        display: none;
    }

    .call-now {
        width: 45px !important;
    }

    .Directions {
        font-size: 10px;
        width: 64px !important;
    }

}