<div *ngIf="postingArray" class="web-view">
  <p-table
    [value]="postingArray"
    sortField="updated_at"
    sortMode="single"
    [sortOrder]="-1"
    [rows]="20"
    [paginator]="true"
    [scrollable]="false"
    rowGroupMode="subheader"
    groupRowsBy="updated_at"
    paginatorPosition="both"
  >
    <ng-template pTemplate="groupheader" let-row let-rowIndex="rowIndex">
      <tr class="p-rowgroup-header">
        <td colspan="5">
          <h6 class="ms-5 ps-5">{{ row.updated_at | date : "MM/dd/yyyy" }}</h6>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
      <div
        *ngIf="postingArray"
        class="data d-flex gap-2 justify-content-center align-items-center py-3 row px-4"
      >
        <div class="card my-0 py-0 px-0" style="max-width: 1200px">
          <div class="row g-0">
            <div class="col-5" style="width: 27%">
              <img
                src="{{ customer.images[0] }}"
                class="rounded-start black"
                alt="..."
                style="height: 195px; width: 258px; object-fit: cover"
                routerLink="/postingdetails/{{ customer.id }}"
                (error)="onImageError($event)"
              />
            </div>
            <div class="col-7" style="width: 70%">
              <div
                class="card-body card-body d-flex flex-column align-items-between justify-content-between px-0 py-0"
                style="height: 100%"
              >
                <div
                  class="d-flex gap-1 justify-content-between align-items-center"
                >
                  <div class="m-0">
                    <h5 class="title-name m-0">
                      {{ customer.business.name }}
                    </h5>
                  </div>
                </div>
                <div
                  class="d-flex gap-1 justify-content-start align-items-center"
                >
                  <i class="bx bx-world fs-6" style="color: #7a7676"></i>
                  <p class="title-time text-muted m-0">
                    {{ customer.postTime }}
                  </p>
                </div>
                <div class="d-none d-lg-block">
                  <small
                    class="description"
                    [ngStyle]="{
                      'font-weight': customer?.bold ? 'bold' : 'normal',
                      'font-style': customer?.italic ? 'italic' : 'normal'
                    }"
                  >
                    <!-- <span *ngIf="showFullText; else truncatedContent">
                      <div [innerHTML]="customer?.content | sanatizer"></div>
                    </span> -->
                    <ng-template #truncatedContent>
                      <div
                        [innerHTML]="
                          (customer?.content
                            ? customer?.content.slice(0, maxDescriptionLength)
                            : ''
                          ) | sanatizer
                        "
                      ></div>
                    </ng-template>
                  </small>
                </div>
                <!-- <div class="d-lg-none d-block">
                  <small
                    class="description"
                    [ngStyle]="{
                      'font-weight': customer?.bold ? 'bold' : 'normal',
                      'font-style': customer?.italic ? 'italic' : 'normal'
                    }"
                  >
                    <span *ngIf="showFullText; else truncatedContent">
                      <div [innerHTML]="customer?.content | sanatizer"></div>
                    </span>
                    <ng-template #truncatedContent>
                      <div
                        [innerHTML]="
                          (customer?.content
                            ? customer?.content.slice(0, maxDescriptionLength)
                            : ''
                          ) | sanatizer
                        "
                      ></div>
                    </ng-template>
                    <span
                      *ngIf="
                        customer?.content &&
                        customer?.content.length > maxDescriptionLength
                      "
                      (click)="showFullText = !showFullText"
                    >
                      {{ showFullText ? "Less" : "..." }}
                    </span>
                  </small>
                </div> -->
                <p
                  class="m-0"
                  [innerHTML]="customer.content | truncateText : 50 | sanatizer"
                ></p>
                <div *ngIf="distances" class="py-1">
                  <div
                    class="d-flex justify-content-start align-items-start gap-1"
                  >
                    <i class="pi pi-directions fs-4"></i>
                    <!-- <p class="p-0 m-0">
                      Distance: {{ distances[rowIndex] | number : "1.0-0" }}
                      <span class="miles">Miles</span>
                    </p> -->
                    <p class="m-0 distance">
                      Distance:
                      {{
                        calculateDistance(
                          customer.business.geo_direction.lat,
                          customer.business.geo_direction.lng
                        )
                      }}
                      Miles
                    </p>
                  </div>
                </div>
                <div
                  class="btns justify-content-between align-items-end d-flex gap-1 py-2"
                >
                  <div class="btns d-flex flex-column gap-2">
                    <button
                      class="call-now"
                      (click)="makePhoneCall(customer.business.phone_number)"
                    >
                      Call
                    </button>
                    <button
                      class="Directions"
                      (click)="handleMapClick(customer.business.geo_direction)"
                    >
                      Directions
                    </button>
                  </div>
                  <!-- <div class="d-flex justify-content-center align-items-center gap-1"
                                        (click)="likeBusiness(customer.business_id, rowIndex)"
                                        [class.liked]="BuySellArray[rowIndex].liked">
                                        <i class="bx bxs-like fs-4" id="likeIcon"
                                            [style.color]="BuySellArray[rowIndex].liked? 'black' : '#0069D9'"></i>
                                        <p id="likeCount" class="m-0">{{BuySellArray[rowIndex].business.likes}}</p>
                                    </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-table>
</div>

<div *ngIf="postingArray" class="mobileb-view">
  <p-table
    [value]="postingArray"
    sortField="updated_at"
    sortMode="single"
    [sortOrder]="-1"
    [rows]="20"
    [paginator]="true"
    [scrollable]="false"
    rowGroupMode="subheader"
    groupRowsBy="updated_at"
    paginatorPosition="both"
  >
    <ng-template pTemplate="groupheader" let-row let-rowIndex="rowIndex">
      <tr class="p-rowgroup-header">
        <td colspan="5">
          <h6 class="ms-5 ps-5">{{ row.updated_at | date : "MM/dd/yyyy" }}</h6>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
      <div
        *ngIf="postingArray"
        class="d-flex gap-2 justify-content-center align-items-center py-3 row px-4"
      >
        <div class="card my-0 py-0 px-0">
          <div class="row g-0">
            <div class="col-7">
              <img
                src="{{ customer.images[0] }}"
                class="rounded-start black"
                alt="..."
                style="height: 134px; width: 176px; object-fit: cover"
                routerLink="/postingdetails/{{ customer.id }}"
                (error)="onImageError($event)"
              />
            </div>
            <div class="col-4">
              <div
                class="card-body card-body d-flex flex-column align-items-between justify-content-between px-0 py-0"
              >
                <div
                  class="d-flex gap-1 justify-content-between align-items-center"
                >
                  <div class="">
                    <p class="title-name m-0" style="font-size: 13px">
                      {{ customer.business.name | truncateText : 10 }}
                    </p>
                  </div>
                </div>
                <div
                  class="d-flex gap-1 justify-content-start align-items-center"
                >
                  <i class="bx bx-world fs-6" style="color: #6b6666"></i>
                  <p class="title-time text-muted m-0" style="font-size: 8px">
                    {{ customer.postTime }}
                  </p>
                </div>

                <!-- <p
                  style="font-size: 8px"
                  class="m-0"
                  [innerHTML]="customer.content | truncateText : 10"
                ></p> -->
                <div *ngIf="distances" class="py-1">
                  <div
                    class="d-flex justify-content-start align-items-start gap-1"
                  >
                    <i class="pi pi-directions fs-6"></i>
                    <p class="m-0 distance">
                      Distance:
                      {{
                        calculateDistance(
                          customer.business.geo_direction.lat,
                          customer.business.geo_direction.lng
                        )
                      }}
                      Miles
                    </p>
                  </div>
                </div>
                <div
                  class="btns justify-content-between align-items-end d-flex gap-1"
                >
                  <div class="btns d-flex flex-column gap-2">
                    <button
                      class="call-now"
                      (click)="makePhoneCall(customer.business.phone_number)"
                    >
                      Call
                    </button>
                    <button
                      class="Directions"
                      (click)="handleMapClick(customer.business.geo_direction)"
                    >
                      Directions
                    </button>
                  </div>
                  <!-- <div class="d-flex justify-content-center align-items-center gap-1"
                                          (click)="likeBusiness(customer.business_id, rowIndex)"
                                          [class.liked]="BuySellArray[rowIndex].liked">
                                          <i class="bx bxs-like fs-4" id="likeIcon"
                                              [style.color]="BuySellArray[rowIndex].liked? 'black' : '#0069D9'"></i>
                                          <p id="likeCount" class="m-0">{{BuySellArray[rowIndex].business.likes}}</p>
                                      </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-table>
</div>
