.miles {
    color: #258a8b;
    font-weight: bold;
}

.pi-directions {
    color: #258a8b;

}

.mobileb-view {
    display: none;
}

.web-view {
    display: block;
}

@media (max-width: 767px) {
    .mobileb-view {
        display: block;
    }

    .web-view {
        display: none;
    }

    .distance {
        font-size: 10px !important;
    }


    .call-now {
        background-color: #0F3D3E;
        border: none;
        outline: none;
        width: 70px !important;
        height: 25px !important;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        font-size: 10px;

    }

    .Directions {
        background-color: #ffbf9d;
        border: none;
        outline: none;
        width: 71px;
        height: 25px !important;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        color: black !important;
        font-size: 10px;
    }

    .miles,
    .Distance {
        font-size: 13px;
    }


}